.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;

  & .card {
    border-radius: 4px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    height: 16px;
    width: 250px;
    border: 1px solid #ef5ba1;
  }
}

.card--transparent {
  border-radius: 4px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  height: 16px;
  color: black;
  border: 1px solid #1976d2;
  text-align: center;
  width: 200px;
  margin: 10px auto;
}
